<div class="lds-dual-ring" [hidden]="hideSpinner"></div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Page ID</th>
      <th scope="col">Page Name</th>
      <th scope="col">Page Data</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let page of allPages">
      <td>{{page.id}}</td>
      <td>{{page.name}}</td>
      <td>{{page.data}}</td>
      <td>
        <button type="button" class="close" aria-label="Close" (click)="deletePage(page.id)">
        <span aria-hidden="true">&times;</span>
      </button>
    </td>
    </tr>
  </tbody>
</table>

