@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#DAE3E5;
    margin:0;
    padding:0;
}

#header {
    background-color: #3e68a6;
    height: 7em;
    margin-top: -2em;
    padding: 0;
    position: relative;
}

#header h1{
    text-align: center;
    padding-top: 1em;
    line-height: 2em;
    color: #ffffff;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
    
}

#main-container {
    margin: 0 auto;
    max-width: 60em;
}
#content-container {
    background-color: #ffffff;
    border-radius: 0.5em;
    margin-top: 0.2em;
    
}

#content-zone {
    padding: 1em;
    
}

#navbar {
    
    position: relative; 
    float: top;

    height: 4em;
    background-color: #94B0DA;
}

#navbar .button {
    width: 5em;
    line-height: 2.5em;
    padding: 0.5em;
    display: inline;
    font-size: 1.5em;
    
}

#navbar a {
    color: #000000;
    text-decoration: none; /* no underline */
  }

#navbar .button:hover {
    background-color: #ffffff;
    cursor: pointer;
}

.router-link-active {
	background-color: #ffffff;
}


.lds-dual-ring {
    display: inline-block;
    width: 128px;
    height: 128px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 92px;
    height: 92px;
    margin: 1px;
    border-radius: 50%;
    border: 8px solid #3e68a6;
    border-color: #3e68a6 transparent #3e68a6 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

