<!--The content below is only a placeholder and can be replaced.-->

<div id="header">
  <h1>
    {{ title }}
  </h1>
</div>

<div id="main-container">
  
  <div id="navbar">
      <div class="button" routerLink="/home" routerLinkActive="router-link-active">Home</div>
      <div class="button" routerLink="/angular" routerLinkActive="router-link-active">Angular</div>
      <div class="button" routerLink="/contact" routerLinkActive="router-link-active">Contact</div>
  </div>

  <div id="content-container">
    <div id="content-zone">
    
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
