<!--The content below is only a placeholder and can be replaced.-->

<div class="header">
  <h1>
    {{ title }}
  </h1>
</div>

<div class="main-container">
  



  
  <div class="navbar">
      <div id="button" routerLink="/home" routerLinkActive="router-link-active">Home</div>
      <div id="button" routerLink="/angular" routerLinkActive="router-link-active">Angular</div>
  </div>

  <div class="content-container">
    <div class="content-zone">
    
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
